* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Noto Sans JP', sans-serif;
}
/*Body*/
body{
    background-color: #FAFAFA;
}
/* Barra de navegacion superior al logo */
#barraSuperior{
    margin: 5px;
    background-color: #FAFAFA;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.botonContacto{
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid black;
}
/*Header*/
header{
    background-color: #FAFAFA;
    width: auto;
    height: 250px;
    border-top: 1px solid  #8e90cf;
    text-align: center;
    
}
/* Barra de navegacion inferior al logo */
nav{
    background-color: #8e90cf;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.menuHeader{
    margin: 20px;
    height: 40px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    list-style: none;
}
.botonMenuHeader{
    text-decoration: none;
    color: #FAFAFA;
}
/*Contenido Principial*/
main{
    text-align: center;
    width: auto;
    height: 525px;
    background-color: #FAFAFA;
    overflow: hidden;
}
/*Carrusel Index.html con Bootstrap*/

/*Catalogo Productos.html*/
#contenedorProductos{
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.imgProductos{
    width:auto;
    height: 250px;
    border-radius: 15px;
    border: 1px solid;
}
.descripcionProducto{
    font-weight: bolder;
}
/*Catalogo de Cursos.html*/
#contenedorCursos{
    width: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}
.portadaCursos{
    width:auto;
    height: 250px;
    border-radius: 15px;
    border: 1px solid
}
.descripcionCurso{
    font-weight: bolder;
}
footer{
    background-color: #8e90cf;
    border-top: 1px solid black;
    height: 160px;
    width: auto;
    display: grid;
}
.contenedorFooter{ 
    display: grid;
    height: 140px;
    width: auto;
    padding: 20px;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
      "izquierdaFooter superiorFooter derechaFooter"
      "izquierdaFooter inferiorFooter derechaFooter"
      "izquierdaFooter inferiorFooter .";
}
/*Logo*/
.izquierdaFooter{ 
    grid-area: izquierdaFooter;
    display: grid;
}
/*Barra Info*/
.superiorFooter{ 
    grid-area: superiorFooter;
    display: grid;
    text-align: center;
    height: 50px;
}
.barraInfo{
    display: flex;
    justify-content: space-around;
    align-content: end;
    height: 30px;
    font-weight: bold;
}
.logoInfo{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: start;
    height: 20px;
}
/*Lista de Navegacion*/
.derechaFooter{ 
    grid-area: derechaFooter;
    display: grid;
    justify-items: end;
    align-items: center;
}
.menuFooter{
    text-decoration: none;
    list-style: none;
    text-align: right;
    font-size: medium;
    padding: 3px;
}
.botonMenuFooter{
    text-decoration: none;
    color: #FAFAFA;
    font-weight: bold;
}
/*Barra Redes y Firma*/
.inferiorFooter{ 
    grid-area: inferiorFooter;
    display: grid;
    height: 75px;
    align-content: end;
}
.botonRedes{
    display: flex;
    justify-self: center;
    text-decoration: none;
}
.signature{
    display: flex;
    justify-content: center;
text-deco;

}

/*Responsive*/

@media (max-width:768px){
#header{
    height: auto;
    flex-direction: column;
    text-align: center;
}
.logoHeader{
    width: 100px;
    height: 100px;
}
ul{
    height: 40px;
}
main{
    overflow: scroll;
}
.menuHeader{
        margin: 5px;
        height: 40px;
}
.botonBusqueda, .botonContacto {
    display: none;
}
.carousel-item{
    height: 400px;
    width:auto;
}
#contenedorProductos, #contenedorCursos{
    display: flex;
    flex-direction: column;

}
.contenedorFooter{
    grid-template-areas:
    "superiorFooter"
    "inferiorFooter"
    "inferiorFooter";
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr;
}
.barraInfo, .derechaFooter , .izquierdaFooter{
    display: none;
}
.logoInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.imgInfo{
    width: 25px;
    height: 25px;
    gap: 2rem;
}
.signature{
    padding-top: 0px;
    font-weight: bold;
}
}






